.landingpage{
  top: 0;
  background-image: linear-gradient(rgba(8, 8, 8, 0.7), rgba(18, 19, 18, 0.7)), url("/background.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  padding: 300px;
  opacity: .75;
  text-align: center;
}

.bar{
  position: sticky;
  top: 0;
  z-index: 1;
}